
    <div class="container" ng-controller="AboutController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Me</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Me</h3>
               <hr>
            </div>
        </div>


        <div class="row row-content">
            <div id="goalsbackground" class="col-xs-12 col-sm-7 col-lg-8">
                <p style="margin-top: 200px"></p>
                <h3 style="margin-left: 45px">{{goals.title}}</h3>
                <p>
                    <ul ng-repeat="goal in goals.list">
                        <li style="margin-left: 15px">{{goal}}</li>
                    </ul>
                </p>
                <p style="padding-bottom: 20px"></p>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-4">

                <p style="margin-top: 63px"></p>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl ng-class="class">
                            <dt>Age:</dt>
                            <dd>28</dd>
                            <dt>Years Programming:</dt>
                            <dd>3+</dd>
                            <dt>Years Web Dev:</dt>
                            <dd>2+</dd>
                            <dt>Expert Field:</dt>
                            <dd>Front-end</dd>
                            <dt>Desired Position:</dt>
                            <dd>Fullstack</dd>
                            <dt>Favorite Tech:</dt>
                            <dd>AngularJS</dd>
                            <dt>Screen Width:</dt>
                            <dd id="window-info"><small>{{number}}px</small></dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>

        <div id="notebook" class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <h2 style="margin-top: -26px">Cover Letter</h2>
               <ul class="media-list">
                   <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                   <!--We changed ng-href to ui-sref to change the nested state app.dishdetails via UI-Router-->
                    <li class="media">
                        <div class="media-body">
                            <h3 class="media-heading">Serge Urakhchin <small>Full Stack Web Developer</small></h3>
                            <blockquote style="text-align: left" class="blockquote blockquote-reverse">{{goals.summary}}</blockquote>
                            <!--<p>Comment: {{dish.comment}}</p>-->
                            <!--<p>Type your comment:-->
                             <!--<input type="text" ng-model="dish.comment"></p>-->
                        </div>
                    </li>
                </ul>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>

        <div id="timelinebackground" class="row row-content">
            <section ng-controller="TimeController" class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events" style="width: 1800px;">
				<ol style="list-style: none;">
                    <li><a href="#0" data-date="16/01/2014" class="selected ui-link" style="left: 120px;"><button class="btn btn-sm btn-default">Index</button></a></li>
					<li><a href="#0" data-date="28/02/2014" class="ui-link" style="left: 300px;"><button class="btn btn-sm btn-default">
                        Jun'15</button></a></li>
                    <li><a href="#0" data-date="20/04/2014" class="ui-link" style="left: 480px;"><button class="btn btn-sm btn-default">Sep'15</button></a></li>
                    <li><a href="#0" data-date="20/05/2014" class="ui-link" style="left: 600px;"><button class="btn btn-sm btn-default">Sep'15</button></a></li>
                    <li><a href="#0" data-date="09/07/2014" class="ui-link" style="left: 780px;"><button class="btn btn-sm btn-default">Dec'15</button></a></li>
					<li><a href="#0" data-date="30/08/2014" class="ui-link" style="left: 960px;"><button class="btn btn-sm btn-default">Feb'16</button></a></li>
					<li><a href="#0" data-date="15/09/2014" class="ui-link" style="left: 1020px;"><button class="btn btn-sm btn-default">Mar'16</button></a></li>
					<li><a href="#0" data-date="01/11/2014" class="ui-link" style="left: 1200px;"><button class="btn btn-sm btn-default">Apr'16</button></a></li>
					<li><a href="#0" data-date="10/12/2014" class="ui-link" style="left: 1380px;"><button class="btn btn-sm btn-default">Jun'16</button></a></li>
					<li><a href="#0" data-date="19/01/2015" class="ui-link" style="left: 1500px;"><button class="btn btn-sm btn-default">Sep'16</button></a></li>
					<li><a href="#0" data-date="03/03/2015" class="ui-link" style="left: 1680px;"><button class="btn btn-sm btn-default">Jan'17</button></a></li>
                    <li><a href="#0" data-date="03/06/2015" class="ui-link" style="left: 1680px;"><button class="btn btn-sm btn-default">Mar'17</button></a></li>
                    <li><a href="#0" data-date="03/07/2015" class="ui-link" style="left: 1680px;"><button class="btn btn-sm btn-default">Apr'17</button></a></li>
				</ol>

				<span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0780864);"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul style="list-style: none;" class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol style="list-style: none;">
			<li class="selected" data-date="16/01/2014">
				<p style="padding-top: 25px"></p>
                <h2>Programming Timeline</h2>
				<em>Today is {{date | date:"MMMM dd'th,' yyyy"}}</em>
				<p>
					This is a timeline of my programming career. It ranges from June 2015 to June 2017. You can navigate using the arrow keys or click on each date or circle individually.
				</p>
			</li>

			<li data-date="28/02/2014">
                <p style="padding-top: 25px"></p>
				<h2>Discovery of MOOC Courses</h2>
				<em>June 2015</em>
					<p>MOOC stands for Massive Online Open Courses. In the summer '15 I came across a post on r/learnprogramming titled "100+ programming courses you can start today for FREE". Up to that point it was my assumption was that the only way one could learn programming was to go to an accredited university and get a four year computer science degree. I was overwhelmed by the resources these MOOC courses provided, and this over exposure to material was something I struggled with for a while. In took me a about year of trying out different online courses to find a direction I was comfortable with.
				</p>
			</li>

			<li data-date="20/04/2014">
                <p style="padding-top: 25px"></p>
				<h2>CS50x</h2>
				<em>September 2015</em>
				<p>
					CS50x is a very well made online learning resource. It teaches the fundamentals of computer science very well and transitions into web development. I messed around with this course by watching all the lectures and doing some of the homework assignments regarding web development that is introduced later in the course.
				</p>
			</li>

			<li data-date="20/05/2014">
                <p style="padding-top: 25px"></p>
				<h2>Joined GitHub</h2>
				<em>September 9th, 2015</em>
				<p>
					Day I officially made my GitHub account. I'm not sure what was the reason at that time.
				</p>
			</li>

			<li data-date="09/07/2014">
                <p style="padding-top: 25px"></p>
				<h2>Python Projects</h2>
				<em>December 2015</em>
				<p>
					During this time I completed the Learn Python the Hard Way tutorial and also attempted the Tango with Django tutorial. The reason for learning Python and Django was my brother at the time was using the language and framework for his work and expressed favorably for the stack. I ended up working with him on the same stack later on so knowledge of Python and Django came in handy.
				</p>
			</li>

			<li data-date="30/08/2014">
                <p style="padding-top: 25px"></p>
				<h2>Github Initial Commit</h2>
				<em>February 18th 2016</em>
				<p>
					Initial commit on GitHub. Around this time I began the first course of the Coursera Full Stack Specialization. This learning source is to this day my favorite source because it provided adequate means of direciton for me. Coursera Full Stack Specialization allowed me to finally trust a resource that I felt comfortable committing my time to.
				</p>
			</li>

			<li data-date="15/09/2014">
                <p style="padding-top: 25px"></p>
				<h2>Coursera Bootstrap Course</h2>
				<em>March 2016</em>
				<p>
					Began working on coursera's full stack specialization front end courses starting with bootstrap and transitioning to AngularJS. Around this time I started building intitial layouts of the conFusion app website that I further develop enhancements on throughout the latter Coursera courses.
				</p>
			</li>

			<li data-date="01/11/2014">
                <p style="padding-top: 25px"></p>
				<h2>Depaul Web Development Program</h2>
				<em>April 2016</em>
				<p>
					Was accepted to Depaul's Web Development with HTML5 and JavaScript Program. This was a 3 month program that covered web developing with javascript and the new features of HTML5 and CSS3. Here is where I built my first website Chicago. This program also strengthened my fundamentals of Javascript programming.
				</p>
			</li>

			<li data-date="10/12/2014">
                <p style="padding-top: 25px"></p>
				<h2>Python Internship</h2>
				<em>June 2016</em>
				<p>
					An internship I did with my brother were I helped him manage data files and built UI widgets for a Bitcoin trading software. Technologies used were Python and Django in addition with Ember.
				</p>
			</li>

			<li data-date="19/01/2015">
                <p style="padding-top: 25px"></p>
				<h2>WordPress Internship</h2>
				<em>September 2016</em>
				<p>
					I worked with WordPress for a small design team called what2design. In this internship I interacted with clients and built custom WordPress themes.
				</p>
			</li>

			<li data-date="03/03/2015">
                <p style="padding-top: 25px"></p>
				<h2>Coursera AngularJS Course</h2>
				<em>January 2017</em>
				<p>
					Started working through the Coursera Full Stack Specialization AngularJS Course #3. After this course I became to understand the roll of a Front-End developer in much greater detail.
				</p>
			</li>
            <li data-date="03/06/2015">
                <p style="padding-top: 25px"></p>
				<h2>Portfolio Website</h2>
				<em>March 2017</em>
				<p>
					After figuring out how to host websites on GitHub Pages, I started hosting my  online projects and began working on this porfolio website. This website is a Single Page Application made with AngularJS. It is made responsive with Bootstrap and jQuery. This portfolio website was made to serve as a midpoint project in the coursera full stack web specialization program.
				</p>
			</li>
            <li data-date="03/07/2015">
                <p style="padding-top: 25px"></p>
				<h2>First Pull Request</h2>
				<em>March 2017</em>
				<p>
					Contributed to my first open source project by building a simple Budget UI that implements RESTful API to pull a budgets object from a remote server and have it displayed in browser. The app allows basic visual manipulation of said object by adding updating and removing fields both on the front end and simultaneously on the back end.
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
        </div>


        <div id="gears" class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2015
                        </th>
                        <th>
                            2016
                        </th>
                        <th>
                            2017
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Github Repositories
                        </th>
                        <td>
                            0
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            101
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Github Commits
                        </th>
                        <td>
                            0
                        </td>
                        <td>
                            101
                        </td>
                        <td>
                            128+
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Significant Events
                        </th>
                        <td>
                            2
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            15+
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Fullstack Knowledge /10
                        </th>
                        <td>
                            1
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            6+
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>

       </div> 
    </div>
