
    <div id="animate" class="container" ng-controller="IndexController">

        <div id="skillbackground" class="row row-content">
            <div><i class="glyphicon glyphicon-sunglasses" ></i> <span class="label label-primary">new</span><span class="label label-success">progress</span><span class="label label-warning">proficient</span><span class="label label-danger">best</span></div><button style="float: right; margin-top: -20px" class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app">
                    Animate
            </button>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3 >Front-End</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                HTML
                                <div class="eighty"></div>
                            </li>
                            <li class="media">
                                CSS
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                Bootstrap
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                jQuery
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                Angular
                                <div class="test"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3>Back-End</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                AWS
                                <div class="forty"></div>
                            </li>
                            <li class="media">
                                MongoDB
                                <div class="twenty"></div>
                            </li>
                            <li class="media">
                                Express/NodeJS
                                <div class="forty"></div>
                            </li>
                            <li class="media">
                                REST/AJAX
                                <div class="seventy"></div>
                            </li>
                            <li class="media">
                                Python/Django
                                <div class="thirty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3>Other</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                Github/Git
                                <div class="eighty"></div>
                            </li>
                            <li class="media">
                                NPM/Bower/Gulp
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                Geolocation Web API
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                JavaScript OOP
                                <div class="eighty"></div>
                            </li>
                            <li class="media">
                                Ionic/Cordova
                                <div class="thirty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3 >Concepts</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                Single Page Applications
                                <div class="ninety"></div>
                            </li>
                            <li class="media">
                                Dynamic Data Binding
                                <div class="eighty"></div>
                            </li>
                            <li class="media">
                                MVC Design Pattern
                                <div class="seventy"></div>
                            </li>
                            <li class="media">
                                Asynchronous Programming
                                <div class="forty"></div>
                            </li>
                            <li class="media">
                                Full Stack Web Development
                                <div class="fifty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
         <ul style="list-style: none; float: right">
        <li><span ui-sref="app.animate"  class="label label-default">June 05th, 2017</span></li>
        <li><span ui-sref="app.animate2"  class="label label-default">Updated: September 1st, 2017</span></li>
        </ul>
        </div>


    </div>
