    <div class="container" ng-controller="IndexController">

        <div id="credentialsbackground" class="row row-content">

            <div class="col-xs-12 col-sm-4">

                                <img class="img-thumbnail" ng-src={{credentials.diploma}} alt="uoi-diploma"></a>


            </div>

            <div class="col-xs-12 col-sm-4">
                <img class="img-thumbnail" ng-src={{credentials.ddiploma}} alt="depaul-diploma"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img class="img-thumbnail" ng-src={{credentials.cdiploma}} alt="coursera-diploma"></a>
            </div>

        </div>
    </div>