    <div class="container" ng-controller="IndexController">

        <div id="credentialsbackground" class="row row-content">

            <div class="col-xs-12 col-sm-4">
                                <a href=""><img class="img-thumbnail" ng-src={{credentials.diploma}} alt="uoi-diploma" data-toggle="modal" data-target="#myModal"></a>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href=""><img class="img-thumbnail" ng-src={{credentials.ddiploma}} alt="depaul-diploma" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href=""><img class="img-thumbnail" ng-src={{credentials.cdiploma}} alt="coursera-diploma" data-toggle="modal" data-target="#myModal3"></a>
            </div>


            <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">University of Illinois Bachelor of Science </h4>
        </div>
        <div class="modal-body">
          <img class="img-thumbnail" ng-src={{credentials.diploma}} alt="uoi-diploma">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

   <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Depaul Web Development with JavaScript and HTML5 Program</h4>
        </div>
        <div class="modal-body">
          <img class="img-thumbnail" ng-src={{credentials.ddiploma}} alt="depaul-diploma">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

   <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Coursera Full Stack Specialization</h4>
        </div>
        <div class="modal-body">
          <img class="img-thumbnail" ng-src={{credentials.cdiploma}} alt="coursera-diploma">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>








        </div>

    </div>