<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app">Home</a></li>
                    <li><a ui-sref="app.aboutus">About</a></li>
                    <li><a ui-sref="app.menuid">Menu</a></li>
                    <li><a ui-sref="app.contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>My Address</h5>
                <address>
                  Newport Beach,<br>
                  CA 92660 USA<br>
                  <i class="fa fa-phone"></i>: +312 216 7185<br>
                  <i class="fa fa-envelope"></i>:
                     <a href="mailto:urakhchin@gmail.com">
                     urakhchin@gmail.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-github" href="https://github.com/surakhchin"><i class="fa fa-github"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/SergeUrakhchin"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/serge-urakhchin-80443b30/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/102684626653961219717"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href=https://www.youtube.com/channel/UC9blXKVXdinZg7uV7BVD3tg"><i class="fa fa-youtube-play"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/crazymun13"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/wrestlingserge/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2017 Serge Urakhchin</p>
            </div>
        </div>
    </div>
</footer>