<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/serge.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                    <li><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> Demo</a></li>
                     <li><a ui-sref="app.contactus">
                     <span class="fa fa-envelope-o"></span> Contact</a></li>
                    <li><a href="https://github.com/surakhchin">
                        <span class="fa fa-github"></span> GitHub</a></li>
                </ul>
            </div>

    </div>
</nav>

<header class="jumbotron" ng-controller="JumboController">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>Serge Urakhchin</h1>
                <p style="padding:20px;"></p>
                <h2>Full Stack Web Developer</h2>
            </div>
            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <a style="" target="_blank" href="https://maildepaul-my.sharepoint.com/personal/surakhch_mail_depaul_edu/_layouts/15/guestaccess.aspx?docid=145f744492d2a493f89c01ed724ed4723&authkey=AR35ZJkR_gunN4Rt7bwk_nQ"><img style="display: block; margin-left: auto; margin-right: auto;"
                               class="img-responsive"  src="images/icon_resume.png" alt="icon-resume"></a>
            </div>
            <div class="col-xs-12 col-sm-2">
            <p style="padding:20px;"></p>
            <a ui-sref="app"><img class="img-responsive center-block" src="images/face.png" alt="face" ></a>
            </div>

        </div>
    </div>
    <div style="display: inline-block; float: right; margin-top: 30px;">{{date | date:"MMMM dd'th,' yyyy h':'m a "}}</div>
</header>