
    <div class="container" ng-controller="IndexController">
        <div id="skillbackground" class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3 >Front-End <span class="label label-danger">best</span></h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                HTML5
                                <div class="seventy"></div>
                            </li>
                            <li class="media">
                                CSS3
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                Bootstrap
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                jQuery
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                AngularJS
                                <div class="test"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3>Back-End <span class="label label-primary">new</span></h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                PowerShell
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                MongoDB
                                <div class="twenty"></div>
                            </li>
                            <li class="media">
                                Express
                                <div class="twenty"></div>
                            </li>
                            <li class="media">
                                RESTful API
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                NodeJS
                                <div class="thirty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3>Other</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                Github/Git
                                <div class="eighty"></div>
                            </li>
                            <li class="media">
                                NPM/Bower/CDN
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                Gulp
                                <div class="fifty"></div>
                            </li>
                            <li class="media">
                                WordPress
                                <div class="forty"></div>
                            </li>
                            <li class="media">
                                Ionic/Cordova
                                <div class="twenty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h3 >Concepts</h3>
                    <p>
                        <ul class="media-list">
                            <li class="media">
                                Single Page Applications
                                <div class="seventy"></div>
                            </li>
                            <li class="media">
                                Dynamic Data Binding
                                <div class="seventy"></div>
                            </li>
                            <li class="media">
                                MVC Design Pattern
                                <div class="sixty"></div>
                            </li>
                            <li class="media">
                                Asynchronous Programming
                                <div class="thirty"></div>
                            </li>
                            <li class="media">
                                MEAN Stack Development
                                <div class="forty"></div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        <span style="float: right" class="label label-default">Updated: June 05th, 2017</span></div>



        <div id="samplebackground" class="row row-content">

            <div class="col-xs-12 col-sm-3">
				<div>
                    <div>
                        <p>
                            <ul class="media-list">
                                <li class="media"><a href="https://surakhchin.github.io/Chicago/">Chicago</a></li>
                                <li class="media"><a href="https://surakhchin.github.io/conFusion/">ConFusion</a></li>
                                <li class="media"><a ui-sref="app.menu">Demo</a></li>
                                <li class="media" ng-repeat="skill in samples.list">
                                    {{skill}}
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div id="credentialsbackground" class="row row-content">

            <div class="col-xs-12 col-sm-4">

                                <img class="img-thumbnail" ng-src={{credentials.diploma}} alt="uoi-diploma"></a>


            </div>

            <div class="col-xs-12 col-sm-4">
                <img class="img-thumbnail" ng-src={{credentials.ddiploma}} alt="depaul-diploma"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img class="img-thumbnail" ng-src={{credentials.cdiploma}} alt="coursera-diploma"></a>
            </div>

        </div>
    </div>
