<div id="menu"  class="container" xmlns:filter="http://www.w3.org/1999/xhtml">
        <!--   HERE WE CHANGE NG-INIT INTO AN ARRAY OF JAVASCRIPT OBJECTS, an array of 4 different dishes to create
        a menu list-->
        <!--ATTACHING THE CONTROLLER: We delete ng-repeat and replace it with ng-controller. -->
        <div class="row row-content" ng-controller="MenuController">
            <div class="col-xs-12">
               <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
                     {{showDetails ? 'Hide Details':'Show Details'}}
               </button>
                <br><br>
               <ul class="nav nav-tabs">
                   <!--ng-click will fire up the menuCtrl select function with given parameter -->
                    <li ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                    >The Menu</a></li>
                    <li ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                    >Appetizers</a></li>
                    <li ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                    >Mains</a></li>
                    <li ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)"
                    >Desserts</a></li>
               </ul>

               <div class="tab-content">
                   <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                       <!--We changed ng-href to ui-sref to change the nested state app.dishdetails via UI-Router-->
                        <li class="media" ng-repeat="dish in dishes | filter:filtText">
                            <div ng-class="class">
                                <a ui-sref="app.dishdetails({id: dish._id})">
                                <img class="media-object img-thumbnail"
                                 ng-src={{dish.image}} alt="Uthappizza">
                                </a>
                            </div>
                            <div class="media-body">

                                    <h2 class="media-heading">{{dish.name}}
                                     <a ui-sref="app.dishdetails({id: dish._id})"><span class="label label-danger">{{dish.label}}</span></a>
                                     <a ui-sref="app.dishdetails({id: dish._id})"><span class="badge">{{dish.price | currency}}</span></a></h2>
                                    <p ng-show="showDetails">{{dish.description}}</p>
                                    <p><a ui-sref="app.dishdetails({id: dish._id})"><span class="glyphicon glyphicon-chevron-left"></span></a> Click on image to read or post a comment!</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div>