
    <div class="container" ng-controller="SampleDetailController">

        <div id="samplebackground" class="row row-content">
            <button style="margin-top: 20px" class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.sampleprojects">
                    Back to Sample Projects
            </button>
            <div class="col-xs-12 col-sm-3">
				<div>
                    <div>
                        <p>
                            <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                       <!--We changed ng-href to ui-sref to change the nested state app.dishdetails via UI-Router-->
                        <li style="padding: 0px; margin: 0px" class="media" ng-repeat="sample in samples">


                            <a style="color: blue" ui-sref="app.skillsid({id: sample._id})">{{sample.name}}</a>

                        </li>
                    </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">




                <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                    <li class="media">
                        <div ng-class="class">
                            <a target="_blank" ng-href={{sample.url}}>
                            <img style="width: 150px" ng-class="class2"
                             ng-src={{sample.image}} alt="Uthappizza"></a>
                        </div>
                        <div class="media-right">
                            <h4 class="media-heading"><a target="_blank" style="color: blue" ng-href={{sample.url}}>{{sample.name}}
                            </a> <a target="_blank" style="color: blue" ng-show="showForm2" ng-href={{sample.url2}}>{{sample.name2}}</a></h4>
                            <p>{{sample.description}}</p>
                            <span style="float: right">-{{sample.date}}</span>
                            <!--<p>Comment: {{dish.comment}}</p>-->
                            <!--<p>Type your comment:-->
                             <!--<input type="text" ng-model="dish.comment"></p>-->
                        </div>
                    </li>
                </ul>


            </div>

        </div>

    </div>
