
    <div class="container" ng-controller="SampleDetailController">

        <div id="samplebackground" class="row row-content">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app">
                    Back to Sample Projects
            </button>
            <div class="col-xs-12 col-sm-3">
				<div>
                    <div>
                        <p>
                            <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                       <!--We changed ng-href to ui-sref to change the nested state app.dishdetails via UI-Router-->
                        <li class="media" ng-repeat="sample in samples | filter:filtText">


                            <a ui-sref="app.sampledetails({id: sample._id})">{{sample.name}}</a>

                        </li>
                    </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">




                <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                    <li class="media">
                        <div ng-class="class">
                            <a ng-href={{sample.url}}>
                            <img style="width: 150px" class="media-object img-thumbnail img-responsive"
                             ng-src={{sample.image}} alt="ProjectImg"></a>
                        </div>
                        <div class="media-right">
                            <h2 class="media-heading"><a ng-href={{sample.url}}>{{sample.name}}
                            </a> <a ng-show="showForm2" ng-href={{sample.url2}}>Forms2</a></h2>
                            <p>{{sample.description}}</p>
                            <!--<p>Comment: {{dish.comment}}</p>-->
                            <!--<p>Type your comment:-->
                             <!--<input type="text" ng-model="dish.comment"></p>-->
                            <span style="float: right">-{{sample.date}}</span>
                        </div>
                    </li>
                </ul>


            </div>

        </div>

    </div>
