
    <div class="container" ng-controller="SamplesController">

        <div id="samplebackground" class="row row-content">

            <div class="col-xs-12 col-sm-3">
				<div>
                    <div>
                        <p>
                            <ul class="media-list">
                       <!--here we have to access the menuCtrl.dishes to get access to the dishes object-->
                       <!--We changed ng-href to ui-sref to change the nested state app.dishdetails via UI-Router-->
                        <li class="media" ng-repeat="sample in samples | filter:filtText">


                            <a ui-sref="app.sampledetails({id: sample._id})">{{sample.name}}</a>

                        </li>
                    </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p style="padding: 20px">Hello and welcome to my portfolio site. This site and the featured <strong><a ui-sref="app.demoid"><u>Demo</u></a></strong> page were made with <strong>Bootstrap</strong> and <strong>AngularJS</strong>. <br><br>Currently I'm working for a cryptocurrency trading company where I develop custom javascript buttons and inputs for an online trading platform. </p>
                <div ui-view="content2"></div>

            </div>

        </div>

    </div>
